{% extends 'auctions/layout.html' %}
{% block body %}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{item.image}}" class="img-fluid rounded-start" alt="{{item.id}}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title:  {{item.title}}</h5>
                    <p class="card-text">Description: {{item.description}}</p>
                    <p class="card-text">Category: {{item.category}}</p>

                    <p class="card-text"><small class="text-body-secondary">Price: ${{item.starting_bid.bid_amount}}</small></p>
                    {% if user.is_authenticated %}
                        {% if present %}
                            <a href="{% url 'removeFromWatchlist' item=item.id %}" class="btn btn-primary">Remove from watchlist</a>
                        {% else %}
                            <a href="{% url 'addTowatchlist' item=item.id %}" class="btn btn-primary">Add to watchlist</a>
                            <a href="{% url 'placebid' item=item.id %}"> Place your bid</a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}